.body {
    font-family: 'Raleway';
}

#logo-main {
    /* margin-bottom: 55px; 
    margin-top: -35px; */
    margin: 0 auto; 
    margin-top: -20px; 
}

#visit-site {
    font-size: 15px;
    float: left;
    letter-spacing: .6.5rem; 
}

#visit-site:hover {
    cursor: pointer; 
    color: rgb(211, 211, 211);
}

.team-header {
    font-size: 20px;
    width: 100%; 
    letter-spacing: .5rem;
    font-family: 'Raleway';
    color: white;
    background-color: black;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    /* margin-top: 60px;  */
    margin-bottom: 10px;
  }

#team-img {
  border-radius: 25px; 
} 

  .container {
   
      font-family: 'Raleway';
      padding: 60px; 
  }
/*  
.card {
    font-family: 'Raleway';
    padding: 60px; 
} */

#team-name {
    font-size: 21px;
    color: black;
    font-weight: 400; 
    letter-spacing: .5px; 
    text-align: center; 
}

#team-name-title {
    font-size: 18px;
    letter-spacing: 1px; 
    font-weight: 350;
    color: black;
    text-align: center; 
    /* margin-bottom: 60px;  */
}

#team-email {
    font-size: 15px;
    letter-spacing: 1px; 
    font-weight: 400;
    color: rgb(0, 102, 236);
    text-align: center; 
    margin-bottom: 60px; 
}

#team-phone {
  font-size: 14.5px;
  font-weight: 375;
  letter-spacing: 1px; 
  color: black; 
  text-align: center; 
}

#team-email:hover {
    color: rgb(4, 90, 202);
}

.fa-phone {
  margin-top: 10px;
  color: rgb(180, 180, 180); 
  text-align: center; 
}

.fa-envelope {
    color: rgb(180, 180, 180); 
    text-align: center; 
}


/* // MEDIA QUERIES  */
@media only screen and (max-width: 430px) {
    #team-name {
      font-size: 15px
    }
    .team-header {
        font-size: 15px;
  }
  #team-name-title {
    font-size: 13.5px;
  }
  #team-email {
      font-size: 12px; 
  }
  #team-phone {
    font-size: 12px; 
  }
}
  
@media only screen and (max-width: 730px) {
    #team-name {
      font-size: 15px
    }
    .team-header {
        font-size: 16px;
  }
  #team-name-title {
    font-size: 13.5px;
  }
  #team-email {
      font-size: 12px; 
  }
  #team-phone {
    font-size: 12px; 
  }
}