.body {
    font-family: 'Raleway';
}

#logo-main {
    margin-bottom: 60px; 
}

.team-header {
    font-size: 40px;
    width: 100%; 
    letter-spacing: .8rem;
    font-family: 'Raleway';
    color: white;
    background-color: black;
    padding: 30px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    /* margin-top: 60px;  */
    margin-bottom: 10px;
  }

#team-img {
  border-radius: 25px; 
} 

  .container {
   
      font-family: 'Raleway';
      padding: 60px; 
  }
/*  
.card {
    font-family: 'Raleway';
    padding: 60px; 
} */

#team-name {
    font-size: 21px;
    color: black;
    font-weight: 400; 
    letter-spacing: .5px; 
    text-align: center; 
}

#team-name-title {
    font-size: 18px;
    letter-spacing: 1px; 
    font-weight: 350;
    color: black;
    text-align: center; 
    margin-bottom: 60px; 
}